<header class="header">
  <div class="contenedor contenido-header">
    <h1>Rock & EDM Festival</h1>
    <nav class="navegacion-principal">
      <a href="#">Line Up</a>
      <a href="#">Galería</a>
      <a href="#">Tickets</a>
    </nav>
  </div>
</header>
<div class="container-Banner">
  <div class="overlay">
    <h2 class="festivalBanner">Rock & EDM Festival</h2>
    <p class="timeBanner">Julio 2022, Madrid</p>
  </div>
  <img
    src="assets/images/img/resumen.jpg"
    alt="festival image"
    class="img-Banner"
  />
</div>
