<section class="contenedor sobre-festival">
  <div class="imagen">
    <img
      src="assets/images/img/imagen_vocalista.jpg"
      alt="imagen vocalista
    festival"
    />
  </div>
  <div class="contenido-festival">
    <h2>Rock & EDM Festival</h2>
    <p class="fecha">Julio 2022, Madrid</p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum quasi
      tempora ipsum provident, rem incidunt dolorum assumenda atque nihil?
      Exercitationem quam adipisci ipsam quis, fugiat laboriosam eveniet
      inventore expedita optio.
    </p>
  </div>
</section>
