.galeria {
  padding: 5rem 0;
  h3 {
    text-align: center;
  }
}

.galeria-imagenes {
  @include resetList;
  @include grid(2, 2rem);
  @include telefono {
    @include grid(3, 2rem);
  }
  @include tablet {
    @include grid(4, 2rem);
  }
  @include desktop {
    @include grid(6, 2rem);
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  picture {
    display: block;
    max-width: 80rem;
  }
}

.btn-cerrar {
  height: 4rem;
  width: 4rem;
  border-radius: 50px;
  background-color: $blanco;
  color: $negro;
  display: grid;
  place-items: center;
  font-weight: 700;
  &:hover {
    cursor: pointer;
  }
}

.fijar-body {
  overflow: hidden;
}
