.header {
  background-color: $verdeAqua;
  h1 {
    color: $blanco;
  }
}

.navegacion-principal {
  @include telefono {
    background-color: yellow;
  }
  a {
    color: $blanco;
    font-size: 2.4rem;
    :hover {
      color: $amarillo;
    }
  }
}
