.sobre-festival {
  @include grid(2, 5rem);
  padding: 5rem;
}

.contenido-festival {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    margin-bottom: 2rem;
  }
  .fecha {
    color: $verdeAqua;
    font-weight: 700;
  }
}
