.sobre-festival {
  padding: 5rem 0;
  @include tablet {
    @include grid(2, 5rem);
  }
}

.contenido-festival {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
  @include tablet {
    margin-top: 0px;
  }
  h2 {
    margin-bottom: 2rem;
  }
  .fecha {
    color: $verdeAqua;
    font-weight: 700;
  }
}

.lineUp {
  background-color: $verdeAqua;
  padding: 5rem 0;
  h3,
  p {
    text-align: center;
    color: $blanco;
  }
  .dia {
    text-transform: uppercase;
    margin: 5rem 0;
  }
}

.escenarios-contenedor {
  @include tablet {
    @include grid(2, 5rem);
  }
  p {
    color: $negro;
  }
}
.escenario {
  padding-top: 2rem;
  p {
    &:after {
      content: '';
      display: block;
      width: 20rem;
      height: 10rem;
      background-size: 15rem;
      background-repeat: no-repeat;
      background-position: center center;
      margin: 2rem auto 0 auto;
    }
  }
}

.edm .nombre-escenario:after {
  background-image: url(../../assets/images/img/icono_edm.png);
}
.rock .nombre-escenario:after {
  background-image: url(../../assets/images/img/icono_rock.png);
}
.bg-amarillo {
  background-color: rgb(235, 222, 107);
  li:nth-child(odd) {
    background-color: darken(rgb(235, 222, 107), 10%);
  }
}
.bg-verde {
  background-color: rgb(108, 221, 183);
  li:nth-child(odd) {
    background-color: darken(rgb(108, 221, 183), 10%);
  }
}

.calendario {
  @include resetList;
  li {
    padding: 2.5rem;
    font-weight: 700;
    span {
      font-weight: 400;
    }
  }
}
